#root{
  width: 100vw;
  height: 100vh;
  background-color: #9878a0;
  background-image: linear-gradient(to top, #29908b, #28827e, #277471, #256664, #235957, #1e4d51, #1c4149, #1c363f, #1e2833, #1c1c23, #141014, #000000);

