#root{
  width: 100vw;
  height: 100vh;
  background-color: #9878a0;
  background-image: linear-gradient(to top, #29908b, #267d79, #236b67, #1f5956, #1b4845, #163c3f, #143137, #13262d, #161d25, #16151b, #0f0b0f, #000000);